* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    z-index: 10;
}

.navbar a {
    padding: 20px;
    color: white;
    text-decoration: none;
    flex: 1;
    text-align: center;
}

.navbar a:hover {
    background: #333;
}

.hero {
    background: url("https://www.w3schools.com/w3images/pizza.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 80px;
}

.hero button {
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

.menu-buttons {
    display: flex;
    margin-bottom: 20px;
}

.menu-buttons button {
    flex: 1;
    padding: 20px;
    font-size: 20px;
    background: black;
    color: white;
    border: 1px solid gray;
    cursor: pointer;
}

.menu-buttons button:hover {
    background: red;
}

.menu-list {
    background: white;
    color: black;
    padding: 30px;
}

.menu-item {
    margin-bottom: 20px;
}

.price {
    float: right;
    background: #ddd;
    padding: 5px 10px;
}

hr {
    border: 0.5px solid #eee;
}

.about {
    background: #8b0000;
}

.contact {
    background: #444;
    width: 100%;

}

.footer {
    text-align: center;
    padding: 30px;
    background: black;
}

html {
    scroll-behavior: smooth;
}
